.demoCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //background-color: rgba(138, 168, 146, 0.3);
  padding: 20px;
  border-radius: 30px;    
  //max-width: 51vmin;
  
  .title{
    font-size: 7vmin;
  }
  .thumbnail{
    width: 65vmin;
    height: 65vmin;
    border-radius: 8vmin;
    margin-top: 2vmin;
    border: 4px solid #8AA892;

    .videoPlayer{
      width: 100%;
      height: 100%;
      border-radius: 7.5vmin;
    }

    .projectThumb{
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 7.5vmin;
    }
  }
  .description {    
    margin-top: 3vmin;
    text-align: center;
    width: 65vmin;
    height: 6vmin;
    font-size: 3vmin;
  }
}

.demoCard.clickable{
  cursor: pointer;
}

.demoCard.mobile {
  .title{
    font-size: 10vmin;
  }
  .thumbnail{
    width: 84vmin;
    height: 84vmin;
    border-radius: 10vmin;
    .videoPlayer{
      border-radius: 8vmin;
    }

    .projectThumb{
      border-radius: 8vmin;
    }
  }
  .description {    
    width: 80vmin;
    font-size: 5vmin;
    height: 22vmin;
  }
}