.leaf {
  animation: rustle 12s infinite ease-in-out;
  width: 120px;
  transform-origin: center;
  .leafPath {
    stroke: $background-color;
    stroke-width: .12;
  }
  //transform: translate(-50%, -50%) rotate(var(--angle)deg);
}
.leaf.mediumSize {
  width: 180px;
}
.leaf.largeSize {
  width: 240px;
}
.leaf.lightColor {
  fill: #7DA97F; /* Pale Green */
}

.leaf.mediumColor {
  fill: #547C5A; /* Lime Green */
}

.leaf.darkColor {
  fill:  #2E4B3A; /* Dark Green */
}


@keyframes rustle {
  0%, 100% { 
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(var(--angle)); 
  }
  25% { 
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(calc(var(--angle) - 6deg));
  } /* Subtract 6deg from the angle */
  75% { 
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(calc(var(--angle) + 6deg));
  } /* Add 6deg to the angle */
}