.titleCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //background-color: rgba(138, 168, 146, 0.3);
  padding: 20px;
  border-radius: 30px;
  
  .name{
    font-size: 3vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .first{
      font-size: 10vmin;
      font-weight: bold;
    }
    .last{
      margin-top: -2vmin;
    }
  }
  .profilePhoto{   
    width: 70vmin;
    height: 70vmin;
    border-radius: 30px;
    margin-top: 2vmin;
    border: 4px solid #8AA892;
  }
}