$background-color: #183028;
$text-color: #F5F5F5;
$accent-color: #FFC107;
$primary-color: #4CAF50;
$secondary-color: #8AA892;

.App {
  height: 100%;
  background-color: $background-color;
  color: $text-color;
  overflow: hidden;
  font-family: "Bodoni Moda", serif;
  display: flex;
  justify-content: center;
  align-items: center;
}


//color scheme
/*
Deep Jungle Green (Background) - $background-color: A deep, dark green that serves as an excellent backdrop, offering a great contrast for lighter text.
Vibrant Leaf Green (Primary Elements) - #4CAF50: A bright and vivid green, perfect for buttons and interactive elements. It stands out well against the darker green background.
Cream White (Text Color) - #F5F5F5: This light, almost white color provides excellent contrast against the dark green background, ensuring that all text is easy to read.
Soft Moss (Secondary Text) - #8AA892: A softer, muted green for secondary text or less important elements, providing a subtle contrast without overpowering the main text.
Golden Amber (Accent) - #FFC107: Bright and eye-catching, this color can be used for highlights and important elements like call-to-action buttons to draw attention.
*/

@import "./components/Leaf.scss";
@import "./components/TitleCard.scss";