.App {
  text-align: center;
  height: 100%;
  background-color: #183028;
  color: #F5F5F5;
  overflow: hidden;

  
  .leaf {
    animation: rustle 6s infinite ease-in-out;
    width: 60px;
    transform-origin: center;
    //transform: translate(-50%, -50%) rotate(var(--angle)deg);
  }
  .leaf.mediumSize {
    width: 90px;
  }
  .leaf.largeSize {
    width: 120px;
  }
  .leaf.lightColor {
    fill: #90EE90; /* Pale Green */
  }

  .leaf.mediumColor {
    fill: #4CAF50; /* Lime Green */
  }

  .leaf.darkColor {
    fill: #006400; /* Dark Green */
  }
}

@keyframes rustle {
  0%, 100% { 
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(var(--angle)); 
  }
  25% { 
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(calc(var(--angle) - 6deg));
  } /* Subtract 6deg from the angle */
  75% { 
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(calc(var(--angle) + 6deg));
  } /* Add 6deg to the angle */
}


//color scheme
/*
Deep Jungle Green (Background) - #183028: A deep, dark green that serves as an excellent backdrop, offering a great contrast for lighter text.
Vibrant Leaf Green (Primary Elements) - #4CAF50: A bright and vivid green, perfect for buttons and interactive elements. It stands out well against the darker green background.
Cream White (Text Color) - #F5F5F5: This light, almost white color provides excellent contrast against the dark green background, ensuring that all text is easy to read.
Soft Moss (Secondary Text) - #8AA892: A softer, muted green for secondary text or less important elements, providing a subtle contrast without overpowering the main text.
Golden Amber (Accent) - #FFC107: Bright and eye-catching, this color can be used for highlights and important elements like call-to-action buttons to draw attention.
*/